<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Günce</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/projects/blog/styles.css">
  <link rel="stylesheet" href="https://use.typekit.net/shw2lpn.css">
  
  <script src="https://kit.fontawesome.com/6408be3e54.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

  <nav class="topbar">
    <ul>
      <form method="patch">
        <div id="myDIV">
          <li><a id="home" href="/" class="<%=activeBtn[0] %>">Günce  <i class="fa-solid fa-pencil fa-2xs"></i></a></li>
          <li><a id="calender" class="<%=activeBtn[1] %>" href="/calender">Takvim   <i class="fa-regular fa-calendar-days fa-2xs"></i></a></li>
          <li><a id="night"  class="<%=activeBtn[2] %>"href="/night">Gece   <i class="fa-regular fa-moon fa-2xs"></i></a></li>
          <li><a id="guzar" class="<%=activeBtn[3] %>" href="/guzar">Güzar   <i class="fa-solid fa-mug-hot fa-2xs"></i></i></a></li>
          <li><a id="day" class="<%=activeBtn[4] %>" href="/day">Gündüz   <i class="fa-regular fa-sun fa-2xs"></i></a></li>
      </div>
      </form>
    </ul>

    
</nav>

  <body>
    
